 

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.details  .card { 
  user-select: none; 
  background-color: #282c34;
  background: linear-gradient(0deg, rgba(40, 44, 52, 1) 0%, rgba(4, 64, 99, 0.5) 100%); 
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  overflow: hidden;
  transition: .5s all;
}
  
.details .card hr {
  width: 100%;
  border: none;
  border-bottom: 3px solid #afaeae55;
  margin-top: 1rem;
}

 

.details .card .main {
  display: flex;
  flex-direction: column;
  width: 90%;
  padding: 1rem;
}
 
.details .card:hover {
  border: 1px solid #ffffff44;
  box-shadow: 0 7px 25px 5px #000000aa;
  transform: scale(1.015);
  filter: brightness(1.2);
}

.details .card:hover::before {
  filter: brightness(0.4);
  top: -100%;
  left: 200%;
}

.details .card::before {
  position: fixed;
  content: "";
  box-shadow: 0 0 100px 40px #ffffff08;
  top: -10%;
  left: -100%;
  transform: rotate(-45deg);
  height: 60rem;
  transition: .7s all;
}

.details .bg {
  
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.details .bg h1 { 
  font-size: 8rem;
  filter: opacity(0.1);
}

.details .card:hover  .bg h1 {  
  filter: opacity(0.3);
} 
